spring.application.name=backend

# Database Configuration
db.url=jdbc:mysql://localhost:3306/inventory?useSSL=false&allowPublicKeyRetrieval=true
db.username=noman
db.password=12345678

spring.datasource.url=${db.url}
spring.datasource.username=${db.username}
spring.datasource.password=${db.password}

# JPA Properties
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
spring.jpa.properties.hibernate.format_sql=false

# Liquibase Properties
spring.liquibase.change-log=classpath:db/changelog/db.changelog-master.xml
spring.liquibase.enabled=true

# Liquibase Maven Plugin Properties
url=${db.url}
username=${db.username}
password=${db.password}
changeLogFile=src/main/resources/db/changelog/db.changelog-master.xml
driver=com.mysql.cj.jdbc.Driver

logging.level.root=WARN
logging.level.bd.edu.just.backend=INFO

jwt.secret=replace_with_a_very_long_random_secret_key_for_demo_purposes
jwt.expiration-ms=86400000
